body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
    color: #333;
}

.user-info {
    background-color: #D9A8A8;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.main-menu {
    display: flex;
    background-color: #D9A8A8;
    padding: 10px;
    justify-content: left;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-menu li {
    margin: 0 10px;
}

.main-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.main-content {
    display: flex;
    flex: 1;
}

.side-menu {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    margin: 10px 0;
}

.side-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

h2 {
    margin-top: 0;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th {
    background-color: #D9A8A8;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9A8A8;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.pagination button {
    background-color: #fff;
    color: #D9A8A8;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #ddd;
}

.search {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search label {
    margin-right: 10px;
}

.search input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.search button {
    background-color: #D9A8A8;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.search button:hover {
    background-color: #c27d7d;
}
